.devise-section
  %h1.title  To Do List
  %h2.title  (demonstrating Rails4 and AngularJS integration)
  %p
    by
    = link_to "Roy Bottomley", 'http://www.roy.bottomley.com'
    ( roy.bottomley@virginmedia.com )
  %p
    = link_to "Github", 'https://github.com/roy-bottomley/todolist.git'

  %ul
    %li= link_to "Sign in", new_user_session_path
    %li= link_to "Sign up", new_user_registration_path
