%script= render "users/app_initializer.js.erb"
.any{'ng-controller' => 'usersController'}
  %flash
  .top-section
    %h2.title-intro Logged in as
    .right= link_to "Log Out", destroy_user_session_path
    %h1.title
      {{user.email}}
    %div{'ng-repeat'=> 'location in weather.locations', 'ng-include' => "'weather.html'"}
  .any{'ng-controller' => 'tasklistsController'}
    .tasklist-section
      %h2 Tasklists
      .new-task-list
        %input#tasklistNewName{'ng-model' => 'newTaskName'}
        %button.btn{'ng-click' => 'create()'} Add New Tasklist
      %p{'ng-hide'=>'user.tasklists.length > 0'}
        You have no tasklists
      %ul{'ng-show'=>'user.tasklists.length > 0'}
        %li{'ng-repeat'=>'tasklist in user.tasklists | orderBy:sortMethod:sortDirection ',  'ng-include' => "'tasklist.html'"}

    .task-section
      %h2.title-intro Tasks for
      %h2.title
        {{currentTaskList.name}}
      %p
        Order tasks by
        %input{'type' => 'radio', 'ng-model'=>'currentTaskList.orderBy', 'value'=>'due_date', 'ng-change'=>"changeSort()"} Due Date
        %input{'type' => 'radio', 'ng-model'=>'currentTaskList.orderBy', 'value'=>'priority', 'ng-change'=>"changeSort()"} Priority
      .new-task
        %textarea#taskNewDescription{'ng-model' => 'newTaskDescription'}
        %button.btn{'ng-click' => 'createTask()'} Add New Task
      %p{'ng-hide'=>'currentTaskList.tasks.length > 0'}
        This tasklist has no tasks
      %ul{'ng-show'=>'currentTaskList.tasks.length > 0'}
        %li{'ng-repeat'=>'task in currentTaskList.tasks | orderBy:currentTaskList.orderBy:currentTaskList.orderDesc',
              'ng-include' => "'task.html'"}

