%script= render "users/app_initializer.js.erb"
.any{'ng-controller' => 'usersController'}
  %flash
  .top-section
    %h1
      {{user.email}}
    %li= link_to "Log Out", destroy_user_session_path
    %li= link_to "Log In", new_user_session_path
    %div{'ng-repeat'=> 'location in weather.locations', 'ng-include' => "'weather.html'"}
  .any{'ng-controller' => 'tasklistsController'}
    .tasklist-section
      %h2 Tasklists
      %input#tasklistEditName{'ng-model' => 'editorTaskList.name'}
      %button{'ng-click' => 'updateTaskList()'} Save
      %button{'ng-click' => 'cancelEdit()'} Cancel
      %br
      %input#tasklistNewName{'ng-model' => 'newTaskName'}
      %button{'ng-click' => 'addTaskList()'} Add Task List
      Task Lists (count {{user.number_of_tasks}})
      %ul.tasklists-ul
        %li.tasklist-menu-item{'ng-repeat'=>'tasklist in user.task_lists', 'ng-click' => 'select(tasklist)'}
          {{tasklist.name}}
          %button.right{'ng-click' => 'editTaskList(tasklist)'} Edit
          %button.right{'ng-click' => 'deleteTaskList(tasklist)'} Delete
    .task-section{'ng-controller' => 'tasksController'}
      %h2 tasks
      %input#taskEditorDescription{'ng-model' => 'editor.description'}
      %button{'ng-click' => 'update()'} Save
      %button{'ng-click' => 'cancelEdit()'} Cancel
      %br
      %input#taskNewDescription{'ng-model' => 'newTaskDescription'}
      %button{'ng-click' => 'create()'} Add Task
      Task Lists (count {{currentTaskList.tasks.length}})
      %ul.tasklists-ul
        %li{'ng-repeat'=>'task in currentTaskList.tasks'}
          {{task.description}}
          %button.right{'ng-click' => 'edit(task)'} Edit
          %button.right{'ng-click' => 'delete(task)'} Delete
