//set the menu highlight color
$highlight-color: #63E9FC;
$ul-padding-left: 20px;
html { font-size: 62.5%; }
body{
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Whitney,helvetica,arial,sans-serif;
  font-weight: 400;
  background-color: #1D3F58;
  min-height: 100%;
  min-width: 1000px;
  overflow: scroll;
}

// set the width of the content and put it in the middle of the screen
.view-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  position: relative;
  cursor: pointer;
  display: table;
  width: 100%;
  background: transparent;

  input {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 400;
    background-color: #e6e6e6;
  }
  textarea {
    font-size: 1.6rem;
    line-height: 1.4;
    font-family: Whitney,helvetica,arial,sans-serif;
    font-weight: 400;
    background-color: #e6e6e6;
  }
  ul {
    margin: 0;
    padding-top: 10px;
    padding-left: $ul-padding-left;
    list-style-type: none;
  }
  li {padding-bottom: 5px}
}

// define a base section from which
// other sections will be derived to display data
.section{
  margin: auto;
  display: inline-block;

  vertical-align: top;
  padding: 9px;
  border-radius: 3px;
  border: solid 1px #ddd;
  background-color: #fff;
  background-clip: padding-box;
}

.italic {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 200;
}
.red-font {
  color: red
}

.title-intro {
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-top: 0;
}

// top section contains the intro
.top-section {
  @extend .section;
  width: 1000px;
  margin-bottom: 10px;
  .weather{
    img {
      display: block;
    }
   .location {
     display: inline-block;
     margin: 10px
   }
   .forecast {
     display: inline-block;
   }
   .weather-selector{
     display: inline-block;
   }
   .weather-link{
     display: inline-block;
   }
  }
}

// bottom section contains the data
// in two sections for qualifications and subjects respectively
.bottom-section {
  background: transparent;
  width: 1000px;
}

.tasklist-section {
  @extend .section;
  width: 380px;

  input {
    width: 200px;
  }

  .new-task-list{
    padding-left: $ul-padding-left;
  }

  li {
    button {
      display: inline-block
    }
    .tasklist-menu-item {
      padding: 3px;
      width: 200px;
      display: inline-block;
    }
    .tasklist-menu-item:hover {
      background: $highlight-color;
    }
  }
}

.task-section {
  @extend .section;

  width: 586px;
  margin-left: 10px;
  $text-height: 50px;

  .task-inner-border {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    background-color: #fff;
    background-clip: padding-box;
  }
  textarea {
    background-color: #e6e6e6;
    width: 400px;
    height:  $text-height;
  }

  .new-task{
    padding-left: $ul-padding-left;
    textarea { margin-right: 20px;}
  }


  li {
    @extend .section;
    padding: 0;
    border-bottom: 0;
    border-color: black;
    .task {
      padding: 0;
    }
    button {
      display: inline-block
    }
    input {
      display: inline-block
    }
    textarea {
      @extend .task-inner-border;
      background-color: #e6e6e6;
    }
    .task-line {
      display: inline-block;
      position: relative;
    }
    .task-menu-item {
      @extend .task-inner-border;
      padding: 3px;
      width: 400px;
      display: inline-block;
    }
    .task-top-bar{
      @extend .task-menu-item;
      background: lightblue;
      height: 20px;
      padding:  0 0 5px 6px;
      .due-date {
        @extend .task-menu-item;
        @extend .italic;
        background: lightblue;
        width: 300px;
        height: 1.6rem;
        padding:  2px 0 0 20px ;
        border-right: 0;
      }
      .priority {
        @extend .task-menu-item;
        width: 40px;
        height: 20px;
        padding: 0;
        float: right;
        margin-right: 0;
        background: lightskyblue;
        .priority-text{
          @extend .italic;
          background: lightskyblue;
          text-align: center;
          padding: 3px;
          margin: 0;
        }
        input {
          width: 36px;
          height: 20px;
          margin: 0;
        }
      }
    }
  }
  li:last-child {
    border-bottom: solid 1px black;
  }

}

// style the flash messsage
.flash{
  background: #F7F9D0;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #ddd;
  background-clip: padding-box;
  margin-left: 100px;
}

// enable menu highlighting when
// hovering over a qualification


.right{ float: right}
.clear {  clear: both;}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.small-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  text-decoration: none;
}

.small-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}