.date-holder
  .date-label{'ng-click' => 'showDatepicker()'}
    {{task.due_date_formatted}}
  %input.date-editor{'type'=>"text", 'ui-date' => '', 'ng-model'=>'task.due_date', 'ng-change' => 'dateChanged()'}
