-#.task{'ng-controller' => 'tasksController', 'dnd-draggable' => 'task', 'dnd-moved'=> 'currentTaskList.tasks.splice($index, 1)', 'dnd-type' => "'task'"}
.task{'ng-controller' => 'tasksController'}
  %input{'type'=>'checkbox', 'ng-model' => 'task.completed', 'ng-change' => 'update()', 'ng-disabled' => 'task.editing' }
  .task-line
    .task-top-bar
      %task-datepicker.due-date{'task' =>'task', 'on-change' => 'update()'}
      .priority
        .priority-text{'ng-hide' => 'task.editing'}
          {{task.priority}}
        %input{'ng-show' => 'task.editing','ng-model' => 'task.newPriority'}
    %div{'ng-hide' => 'task.editing'}
      .task-menu-item
        {{task.description}}
      %button.small-btn{'ng-click' => 'edit()'} Edit
      %button.small-btn{'ng-click' => 'delete()'} Delete
    %div{'ng-show' => 'task.editing'}
      %textarea{'ng-model' => 'task.newDescription'}
      %button.small-btn{'ng-click' => 'update()'} Save
      %button.small-btn{'ng-click' => 'cancel()'} Cancel

  .clear