.weather
  %img{'ng-src'=>"{{location.url}}"}
  .location
    {{location.title}}
    %br
    {{location.condition}} degrees {{location.temperature}}
    %br
    More information
    %a{'ng-href'=>"{{location.link}}"} here
  .forecast
    Forecast:
    %br
    %div{'ng-repeat' => 'forecast in location.forecasts'}
      {{forecast.day}} - {{forecast.text}}.  High: {{forecast.high}} Low: {{forecast.low}}
      %br
  .weather-selector
    Weather location
    %input{'ng-model' => 'weather.currentLocation'}
    %button.btn{'ng-click' => 'showWeather()'} Change